<details>
    <summary role="button" class="secondary">{{title}}</summary>
    <form class="wishlist-form" data-isbn={{isbn}}>
        <p>
            <img src="{{cover_img}}" alt="{{title}}">
            <p>by: {{author}}</p>
            <p>ISBN: {{isbn}}</p>
        </p>
        <!-- Allows users to remove items from their wishlist -->
        <div class="grid book-details">
            <button class="remove-from-wishlist" type="submit">Remove from Wishlist</button>
        </div>
    </form>
</details>
