<details>
    <summary role="button" class="secondary">{{title}}</summary>
    <form class="book-form" data-isbn={{isbn}}>
        <p>
            <img src={{cover_img}} alt={{title}}>
            <p>by: {{author}}</p>
            <p>ISBN: {{isbn}}</p>
        </p>
    </form>
</details>