<!-- Show username, email, and password boxes, each with an "update" button for updating the respective information -->

<form  class="username-form">
    <fieldset>

        <input id="username-update" type="username" name="Username" placeholder={{username}} aria-label="Username"
            autocomplete="username" />
        <div class="grid">
            <div>{{username-message}}</div>
            <button id="user-submit" type="submit">Update username</button>
        </div>

    </fieldset>
</form>

<form>
    <fieldset class="email-form">

        <input id="email-update" type="email" name="Email" placeholder={{email}} aria-label="Email"
            autocomplete="email" />
        <div class="grid">
            <div>{{email-message}}</div>
            <button id="email-submit" type="submit">Update email</button>
        </div>

    </fieldset>
</form>

<form>
    <fieldset class="pass-form">

        <input id="password-update" type="password" name="Password" placeholder="Password" aria-label="Password"
            autocomplete="current-password" />
        <div class="grid">
            <div>{{password-message}}</div>
            <button id="password-submit" type="submit">Update password</button>
        </div>        

    </fieldset>
</form>

<script src="/js/profile.js"></script>